<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">รายงานอุณหภูมิและความชื้น</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 90px;">
            <div class="input-group-append">
              <button (click)="downloadExcel()" type="submit" class="btn btn-default">
                <i class="fas fa-print"> พิมพ์</i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="loading" class="overlay">
        <div class="spinner-border text-primary" role="status">
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap" id="table">
          <thead>
            <tr>
              <th>จุดปฏิบัติการ</th>
              <th>Mac Address</th>
              <th>อุณหภูมิ</th>
              <th>อุณหภูมิสูงสุด</th>
              <th>อุณหภูมิต่ำสุด</th>
              <th>อุณหภูมิเฉลี่ย</th>
              <th>ความชื้น</th>
              <th>ความชื้นสูงสุด</th>
              <th>ความชื้นต่ำสุด</th>
              <th>ความชื้นเฉลี่ย</th>
              <th>วันที่</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of mac_address_id_chart;">
            <tr *ngFor="let data of item.temperature;let i = index">
              <td>{{ item.position }}</td>
              <td>{{ item.mac_address }}</td>
              <td>{{ item.temperature[i] | number: '1.2-2' }}</td>
              <td>{{ item.max_humidity_data | number: '1.2-2' }}</td>
              <td>{{ item.min_humidity_data | number: '1.2-2' }}</td>
              <td>{{ item.average_temperature | number: '1.2-2' }}</td>

              <td>{{ item.humidity[i] | number: '1.2-2' }}</td>
              <td>{{ item.max_temperature_data | number: '1.2-2' }}</td>
              <td>{{ item.min_temperature_data | number: '1.2-2' }}</td>
              <td>{{ item.average_humidity | number: '1.2-2' }}</td>

              <td>{{ item.date_data[i]}}</td>
            </tr>
          </tbody>

        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
